version: "3.9"

services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8081:8081"

  profile-service:
    build: ./profile-service
    container_name: profile-service
    ports:
      - "8082:8082"
    environment:
      - USER_SERVICE_URL=http://user-service:8081
    depends_on:
      - user-service
